node_modules/
.env
.env.*
!.env.example

cookies.txt
*.cookie

logs/
*.log

downloads/
temp/
tmp/
*.tmp

*-player-script.js
downloader.exe
yt-dlp
ffmpeg*
ffmpeg_extracted/

coverage/
test_*
*.mp4
*.webm
*.part
*.mkv
*.f137*
*.f401*
*.f251*

.vercel/
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db
